<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">    
    
 		<bean class="com.springcore.Student" name="student1">
 			
 			<property  name="studentName">
 				<value> Bob</value>
 			</property>
 			
 			<property  name="studentID">
 				<value> 101</value>
 			</property>
 			
 			<property  name="studentAddress">
 				<value>Pune</value>
 			</property>
 			
 		</bean>
 		
 		<bean class="com.springcore.Student" name="student2">
 		
 			<property name="studentName" value="John"/>
 			
 			<property name="studentID" value="102" />
 			
 			<property name="studentAddress" value="Mumabai"/>
 			
 		</bean>
 		
 		<bean class="com.springcore.Student" name="student3" p:studentName="Sam" p:studentID="103" p:studentAddress="Delhi">
 		</bean>
</beans>